# Dependencies
node_modules/

# Next.js
.next/
build/
dist/
.turbo/

# Deployment
.vercel/

# Environment variables
.env*
!.env*.example

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Yarn
.pnp
.pnp.js

# TypeScript build info
tsconfig.tsbuildinfo
